@import '~bulma/sass/utilities/_all';
$primary: #00c853;
$primary-invert: findColorInvert($primary);
$link: $primary;
$link-invert: $primary;
a:hover {
  color: darken($primary, 5%) !important;
}
$colors: (
  'white': ($white, $black),
  'black': ($black, $white),
  'light': ($light, $light-invert),
  'dark': ($dark, $dark-invert),
  'primary': ($primary, $primary-invert),
  'info': ($info, $info-invert),
  'success': ($success, $success-invert),
  'warning': ($warning, $warning-invert),
  'danger': ($danger, $danger-invert)
);
@import '~bulma';
@import '~buefy/src/scss/buefy';

body {
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Varela', sans-serif;
}

::selection {
  background: $primary;
}

.flex-grow {
  flex-grow: 1;
}

.switch {
  display: flex;
  .control-label {
    order: 1;
    padding-left: 0;
    padding-right: 0.5rem;
  }
  .check {
    order: 2;
  }
}